body {
  background: lightblue; 
}

/* Classes for divs */
.header {
  background: white;
  border: 2px solid black;
  padding: 10px;
  font-style: italic;
}

.main {
  background: rgb(245, 245, 217);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
}

.section {
  background: rgb(192, 111, 111);
  border: 2px dotted rgb(0, 0, 0);
  padding: 10px;
}

.footer {
  background: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px;
}

/* make all paragraph text on page black */
p {
  color: black;
}

/* Span with an ID */
#highlight {
  background: red;
  color: white;
}
