body {
background-color: rgb(255, 227, 85);
font-family: sans-serif;
padding:5px;
}

.header {
 text-align: center;
  border: 2px dotted rgb(0, 0, 0);
  padding: 5px;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.profileimg {
    background-color: rgb(255, 255, 255);
  width: 300px;
  margin: 0 auto;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 40%;
  padding:50px;
  padding-left:  5px;
  
  }

.subheading {
  border: 2px solid rgb(0, 0, 0);
  text-decoration: underline;
  width: 25%;
  height: 75px;
  background-color: rgb(255, 255, 255);
}