h1 {
  color: #8ac8d8;
  font-style: italic;
}

h2 {
  color: #ffffff;
}

body {
  background-color: #259cd8;
  text-align: center;
}

form {
  background-color: #ffffff;
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

li {
    color: white;
    font-size: 1em;
}
a {
    color: #ffffff;
    font-weight: bold;
}
.section {
  background-color: rgb(51, 145, 177);
  padding: 15px;
}


/* id for the span highlight */
#highlight {
  background-color: rgb(187, 61, 61);
}
