h1 {
  color: #8ac8d8;
  font-style: italic;
}

h2 {
  color: #ffffff;
}

body {
  background-color: #1e9ad8;
  text-align: center;
}

form {
  background-color: #ffffff;
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

li {
    color: white;
    font-size: 1em;
}
a {
    color: #ffffff;
    font-weight: bold;
}
div {


}